{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
        Voici l'article : {{ article.title }}
    </h1>

        <div class="m-2 p-2">
            <h2>@{{ article.author.username }}</h2>
            <p class="m-2 p-2">{{ article.Content }}</p>
        </div>
    <div class ="m-2 p-2">
        <h3 >
            Section des commentaires
        </h3>
        <a href="{{ path('creationComment',{'id':article.id}) }}" class="btn btn-success">
            AJOUTER
        </a>
        <table class="table table-hover m-2 p-2">
            <tr class="table-active">
                <td>
                    <strong>
                        Auteur
                    </strong>
                </td>
                <td>
                    <strong>
                        Contenu
                    </strong>
                </td>
                <td>
                    <strong>
                        Actions
                    </strong>
                </td>
            </tr>
        {% for comment in commentaires %}
            {% if article.id == comment.articles.id %}
                <tr>

                <td>
                    @{{comment.author.username}}
                </td>
                <td>
                    {{comment.content}}
                </td>
                <td>
                    {% if app.user.id == comment.author.id %}
                        <a href="{{ path("modifComment",{'id':comment.id}) }}" class="btn btn-primary">
                            <i class="material-icons">edit</i>
                        </a>
                        <form method="post" action="{{ path('suppressionComment',{'id':comment.id}) }}" onsubmit="return confirm
('Confirmer la suppression');">
                            <input type="hidden" name="_method" value="SUP">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP'~comment.id) }}">
                            <input type="submit" class="btn btn-danger material-icons" value="delete">
                        </form>
                    {% endif %}

                </td>
                </tr>


            {% endif     %}

        {% endfor %}
        </table>

    </div>


{% endblock %}
