{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
Voici les articles du blog
    </h1>

    {% for article in articles %}
        <div class="m-2">
            <h2><a href="{{ path('afficherArticle',{'id':article.id}) }}">{{ article.title }}</a></h2>
            <h3>[{{ article.author.username }}]</h3>

            <p>{{ article.content }}</p>


        </div>

    {% endfor %}
    <div class="navigation m-2 p-2">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
{# display navigation #}

