<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('accueil') }}">Blog EMSE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('articles') }}">Consulter</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path("admin_articles")}}">Editer</a>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path("admin_user_articles",{'id':app.user.id})}}">Mes articles</a>
                    {% endif %}
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utilisateurs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path("admin_users") }}">Modifier</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Commentaires
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("admin_comment") }}">Modifier</a>
                        </div>
                    </li>
                {% endif %}
            {% endif %}
            {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{path("inscription")}}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path("login")}}">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{path("logout")}}">Deconnexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>