{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
        Edition de mes  articles
    </h1>
    {%  for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post" action="{{ path("creationArticleUser",{'id':userId}) }}" >
        <input type="hidden" name="_token" value=0 >
        <input type="submit" class="btn btn-success m-2 "  value="AJOUTER">
    </form>

    <table class="table table-hover m-2 p-2">
        <tr class="table-active">
            <td>
                <strong>
                    Nom
                </strong>
            </td>
            <td>
                <strong>
                    Contenu
                </strong>
            </td>
            <td>
                <strong>
                    Actions
                </strong>
            </td>
        </tr>
        {% for article in articles %}
            {% if article.author.id == app.user.id %}
            <tr>
                <td>
                    <a href="{{ path("afficherArticle",{'id':article.id}) }}">{{ article.title }}</a>
                </td>
                <td>
                    {{ article.content }}
                </td>
                <td>
                    <form method="post" action="{{ path("modifArticlesUser",{'id':article.id}) }}" >
                        <input type="hidden" name="_token" value=1 >
                        <input type="submit" class="btn btn-primary material-icons" value="edit">
                    </form>



                    <form method="post" action="{{ path('suppressionArticleUser',{'id' :article.id}) }}" onsubmit="return confirm
('Confirmer la suppression');">
                        <input type="hidden" name="_method" value="SUP">
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP'~article.id~app.user.id) }}">
                        <input type="submit" class="btn btn-danger material-icons" value="delete">
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}


    </table>

{% endblock %}
