{% extends 'base.html.twig' %}

{% block title %}Edition Articles{% endblock %}

{% block body %}
    <h1 class="border border-dark rounded p-2 m-2 text-white bg-primary text-center">
        Editer les commentaires
    </h1>
    {%  for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-hover m-2 p-2">
        <tr class="table-active">
            <td>
                <strong>
                    Nom
                </strong>
            </td>
            <td>
                <strong>
                    Contenu
                </strong>
            </td>
            <td>
                <strong>
                    Article
                </strong>
            </td>
            <td>
                <strong>
                    Actions
                </strong>
            </td>
        </tr>
        {% for comment in commentaires %}
            <tr>
                <td>
                    {{ comment.author.username }}
                </td>
                <td>
                    {{ comment.content }}
                </td>
                <td>
                    {{ comment.articles.title }}
                </td>
                <td>
                    <form method="post" action="{{ path('suppressionComment',{'id':comment.id}) }}" onsubmit="return confirm
('Confirmer la suppression');">
                        <input type="hidden" name="_method" value="SUP">
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP'~comment.id) }}">
                        <input type="submit" class="btn btn-danger material-icons" value="delete">
                    </form>
                </td>
            </tr>

        {% endfor %}


    </table>

{% endblock %}
